<div style="height: 42px"></div>

<div class="jumbotron" style="padding: 0;">

  <div class="text-center">
    <!--<i class="fa fa-desktop fa-3x" aria-hidden="true" style="margin: 20px;">-->
      <!--<span style="display: block; font-size: 13px; font-variant: small-caps; margin-top: 5px;">frontend</span>-->
    <!--</i>-->
    <!--<hr class="vertical-line"/>-->
    <i class="fa fa-suitcase fa-3x" aria-hidden="true" style="margin: 20px;" routerLink="/country/north_america">
      <span style="display: block; font-size: 13px; font-variant: small-caps; margin-top: 5px;">go</span>
    </i>
    <hr class="vertical-line"/>
    <i class="fa fa-globe fa-3x" aria-hidden="true" style="margin: 20px;" routerLink="/study">
      <span style="display: block; font-size: 13px; font-variant: small-caps; margin-top: 5px;">to</span>
    </i>
    <hr class="vertical-line"/>
    <i class="fa fa-plane fa-3x" aria-hidden="true" style="margin: 20px;">
      <span style="display: block; font-size: 13px; font-variant: small-caps; margin-top: 5px;">trip</span>
    </i>
  </div>

</div>
<div class="container text-center">

  <div class="row align-items-center">
    <div class="col-md-6 d-flex frontend-background p-5"></div>
    <div class="col-md-6 py-3">
      <h3 class="card-title study-title">dead vlei</h3>
      <p class="card-text">Deadvlei is a white clay pan located near the more famous salt pan of Sossusvlei, inside the Namib-Naukluft Park in Namibia.</p>
      <a href="https://en.wikipedia.org/wiki/Deadvlei" class="btn btn-outline-success btn-block">More Wikipedia</a>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 py-3">
      <h3 class="card-title study-title">Mount Roraima</h3>
      <p class="card-text">Mount Roraima , also known as Tepuy Roraima and Cerro Roraima; Portuguese: Monte Roraima  is the highest of the Pakaraima chain of tepui plateaus in South America.</p>
      <a href="https://en.wikipedia.org/wiki/Mount_Roraima" class="btn btn-outline-success btn-block">More Wikipedia</a>
    </div>
    <div class="col-md-6 d-flex backend-background p-5"></div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 d-flex language-background p-5"></div>
    <div class="col-md-6 py-3">
      <h3 class="card-title study-title">Fly Geyser</h3>
      <p class="card-text">Fly Geyser, also known as Fly Ranch Geyser is a small geothermal geyser located in Washoe County, Nevada approximately 20 miles (32 km) north of Gerlach.</p>
      <a href="https://en.wikipedia.org/wiki/Fly_Geyser" class="btn btn-outline-success btn-block">More Wikipedia</a>
    </div>
  </div>

</div>

